* {
    box-sizing: border-box;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;

}

a {
    color: black;
    text-decoration: none;
}

main {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 35px;
}

header {
    max-width: 1400px;
    margin: 0 auto;
}

/* Barre de Navigation */

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    padding: 35px;
    border-top: 3px solid transparent;
    min-width: 0%;

}

nav a:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;

}

#logo {
    margin-right: auto;
    padding-left: 12px;

}

.bloc1 {
    display: flex;
}

/* Barre de Recherche */


.search {
    display: flex;
    margin: 15px 0;
}

.fa-solid.fa-location-dot {
    padding: 16px 20px;
    border-radius: 16px 0 0 16px;
    background-color: #F2F2F2;


}

.search input {
    padding: 8px 24px;
    flex-basis: 240px;
    border: 1px solid rgb(245, 239, 239);
    overflow: hidden;

}

.search ::placeholder {
    font-weight: bold;
    color: rgb(7, 7, 7);
    padding: 0
}

.search button {
    color: white;
    background-color: #0065FC;
    font-weight: bold;
    border-radius: 2px 16px 16px 2px;
    padding: 18px;
    border: none;
    text-align: center;
    cursor: pointer;
    text-align: center;
    margin-left: -20px;

}

.search button:hover {
    box-shadow: 1px 1px 10px #f2f2f2;
    transform: scale(1.02);

}


.fa-solid.fa-magnifying-glass {
    display: none;

}

/* Filtres */

.liste-filtres {
    display: flex;
    align-items: center;
    gap: 16px 32px;

}

.filtres {
    border: 1px solid #d9d9d9;
    border-radius: 32px;
    display: flex;
    align-items: center;
}


.filtres button {
    color: #0065FC;
    border: #DEEBFF;
    background-color: #DEEBFF;
    border-radius: 50%;
    margin: -2px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.filtres span {
    font-weight: bold;
    padding: 0 16px;
}

.filtres:hover {
    background-color: hsl(0, 57%, 97%);
    box-shadow: 0 0 8px #1078f8;
    cursor: pointer;
    transform: scale(1.02);

}


/* Information */

#message-info {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;

}


.fa-info {
    color: #0065FC;
    height: 32px;
    width: 32px;
    min-height: 32px;
    min-width: 32px;
    border: solid 1px #f2f2f2;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12.8px;

}

#message-info p {

    padding: 0;

}

/*  Section Articles */

.articles {
    display: flex;
    gap: 30px;

}

.articles h3 {
    padding-left: 20px;
}

.articles .hebergements {
    flex-basis: 66%;
    background-color: #f2f2f2;
    border-radius: 16px;
}

.articles .populaires {
    flex-basis: 33%;
    background-color: #f2f2f2;
    border-radius: 16px;
}


/* Cartes Hebergements */

.hebergements {
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0;
    padding: 0 10px 0 10px;

}


.hebergements h3 {
    width: 100%;
    padding-top: 20px;
}

.card-hebergement {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    width: 100%;
    gap: 10px;

}

.card-hebergement div {
    flex-basis: calc(33% - 40px);


}

.card {
    background-color: white;
    border-radius: 16px;
    padding: 5px;
    box-shadow: 0 0 8px darkgrey;
    flex-grow: 1;
    margin: 0 10px 10px 10px;
    transition: all 0.2s;


}

.articles .card-hebergement .card {
    width: 25%;
    font-size: 14px;
}


.card img {
    border-radius: 16px 16px 0 0;
    height: 120px;
    width: 100%;
    object-fit: cover;
}

.card p,
.card h4 {
    margin: 5px;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 8px rgb(0, 162, 255);
    cursor: pointer;
}

.affichage {
    font-weight: 800;
    padding: 5px 0px 25px 5px;
    margin-left: 20px;
    margin-top: 20px;


}

.affichage :hover {
    color: #00a2ff;
}


/* Etoiles */

.star-blue {
    color: #0065FC;
}

.star-grey {
    color: rgb(211, 207, 207);

}

/* Liste Populaires */


.populaires h3 {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-top: 20px;

}

.populaires-card {
    padding-top: 20px;
    justify-content: space-between;
    margin: 25px;


}

/*

.populaires-appartement-card { 

    display: flex;
    background-color: white;
    border-radius: 16px 0 0 16px;
    height: 150px;
    width: 70%;
}
*/
/* 
.populaires-appartement-card img { 

    border-radius: 16px 0 0 16px;
    height: 150px;
    width: 70%;
    object-fit: cover;
}
*/

.pop-card {
    display: flex;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 0 8px darkgrey;
    transition: all 0.2s;
    height: 130px;
    margin-bottom: 35px;

}

.pop-card img {
    width: 35%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;


}


.card-description {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-size: 14px;

}


.pop-card:hover {
    box-shadow: 0 0 8px #00a2ff;
    transform: scale(1.02);
    cursor: pointer;
}


.card-description h4,
p {
    padding-top: 2px;
    margin: 5px;

}

.card-description .stars {
    margin-top: auto;

}




/* Partie Activités */


.flex-4colonnes-containeur {
    display: flex;
    flex-direction: row;
    gap: 10px;


}

.activités h4 {
    padding-left: 10px;
}

.flex-item {
    display: flex;
    width: 100%;
    height: 100%;


}

.images-containeur {
    display: flex;
    width: 100%;
    height: 500px;
    flex-direction: column;
    overflow: hidden;
    border-radius: 15px;
    padding: 8px;

}

.flex-item img {
    overflow: hidden;
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 15px 15px 0 0;


}

.containeur2,
.containeur4 {
    gap: 25px;


}

.activité-lien {
    display: flex;
    width: 100%;
    height: 100%;

}


.image-item1,
.image-item4 {
    height: 100%;


}

.image-item2,
.image-item6 {
    height: 52%;

}

.image-item3,
.image-item5 {
    height: 43%;


}

.activité-card {
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 0 8px darkgrey
}



.activités {
    margin-top: 50px;
    padding-bottom: 2px;

}

.titre-activité {
    padding: 10px;


}

.titre-activité h4 {
    display: inline;
    font-size: 14px;

}

.activité-card :hover {
    opacity: 0.8;
}


/* Footer */


.flex-3-colonnes {
    max-width: 1400px;
    margin: auto;
    padding-left: 35px;

}

.flex-colonnes-containeur {
    display: flex;

}

.menu-footer {
    padding: 20px 0 12px 12px;
    width: 100%;

}



footer {
    background-color: #F2F2F2;
    padding: 20px;
    margin-top: 50px;


}

.menu-footer h4 {
    margin: 0;

}

.flex-3-colonnes li {
    padding: 5px 0;
    list-style-type: none
}

li :hover {

    color: #0065FC;
}


/* Partie Responsive */


@media all and (max-width: 992px) {

    /* HEADER */

    main {
        max-width: 1400px;
        margin: 0 auto;
        padding: 0px;
    }

    .bloc1 {
        order: 1;
        width: 100%;
    }

    .bloc1 a {
        flex-basis: 50%;
        text-align: center;
        border-bottom: 3px solid lightgrey;
    }

    nav a {
        padding: 35px;

    }

    nav a:hover {
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        border-top: 3px solid transparent;
    }

    #logo {
        display: block;
        margin: auto;

    }

    .Titre-principal {
        padding-left: 12px;

    }

    .search {
        padding-left: 12px;

    }


    /* Filtres */


    .liste-filtres {
        flex-wrap: wrap;
        padding-left: 12px;

    }

    .liste-filtres h3 {
        width: 100%;
        margin: 0;


    }

    #message-info {

        padding-left: 12px;
    }


    /* Cards Hebergements */


    .articles {
        display: flex;
        flex-direction: column;
        width: 100%;
    }



    .populaires {
        background-color: #F2F2F2;
        width: 100%;
        border-radius: 16px;
        order: -1;

    }

    .hebergements {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 0 10px 0 10px;
        border-radius: 16px;
        background-color: white;
        flex-direction: row;

    }

    .articles .card-hebergement .card {
        width: 35%;
        flex-direction: row;

    }

    .cards-hebergement {
        flex-wrap: wrap;

    }


    .articles .hebergements {
        background-color: white;

    }

    /* Activités */

    .flex-4colonnes-containeur {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: 10px;

    }


    .images-containeur {
        width: 30%;
        flex-direction: row;
        gap: 32px;
        height: 200px;
    }

    .containeur2,
    .containeur4 {
        width: 65%;
        flex-direction: row;
        gap: 32px;


    }

    .containeur1,
    .containeur3 {
        width: 32%;

    }

    .activité-card {
        width: 100%;
        height: 100%;

    }

    .activités h4 {
        padding-left: 20px;
    }

    .flex-3-colonnes {
        max-width: 100%;
        margin: auto;
        padding-left: 0;

    }

}


/* Barre de Navigation */

@media all and (max-width: 768px) {

    main {
        max-width: 1400px;
        margin: 0 auto;
        padding: 0px;
    }

    .bloc1 {
        order: 1;
        width: 100%;
        height: 70px;
    }

    .bloc1 a {
        flex-basis: 50%;
        text-align: center;
        border-bottom: 3px solid lightgrey;
    }

    nav a {
        padding: 35px;

    }

    nav a:hover {
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        border-top: 3px solid transparent;
    }

    #logo {
        display: block;
        margin: auto;

    }

    .Titre-principal {
        padding-left: 12px;
        margin-top: 30px;
        

    }

    h1 {

        font-size: 25px ;
    }


    .search {
        padding-left: 12px;

    }


    /* Barre de Recherche */

    .click-search {
        display: none;

    }

    .fa-solid.fa-magnifying-glass {
        display: block;

    }

    .text {
       color: black;


    }



    .search button {
       
        border-radius: 16px 16px 16px 16px;
    }

    /* Filtres */


    .liste-filtres {
        flex-wrap: wrap;
        padding-left: 12px;

    }


    #message-info {

        padding-left: 12px;
    }

    h2 { 

        font-size: 20px;
        margin-bottom: 10px;
        padding-right: 70%;
    }


    /* Cards Hebergements */


    .articles {
        flex-direction: column;
        flex-basis: 100%;
    }

    .populaires {
        order: -1;
        border-radius: 0;
    }

    .articles .populaires {
        border-radius: 0;
    }

    .hebergement {
        height: 200px;
        width: 100%;
        margin: 0;
    }

    .articles .hebergements {
        background-color: white;

    }

    .articles .card-hebergement .card {
        width: 100%;
        flex-direction: row;
        align-items: flex-start;


    }


    .card-description p,
    .stars {
        margin: 5px;
        
    }

    /* Activités */


    .flex-4colonnes-containeur {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 15px;

    }


    .images-containeur {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

    }


    .activité-card {
        width: 100%;
        height: 100%;

    }

    .activités h4 {
        padding-left: 20px;

    }

    .containeur2,
    .containeur4 {
        width: 100%;
        gap: 32px;
        flex-wrap: wrap;
        display: flex;

    }

    .containeur1,
    .containeur3 {
        width: 100%;

    }

    .activité-card {
        width: 100%;
        height: 100%;

    }

    .images-containeur {
        height: 100%;
    }

    .images-containeur a {
        height: 200px;
    }


    .activités {
        margin-top: 0;
    }


    /* FOOTER */


    .flex-colonnes-containeur {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 5px;


    }

    .menu-footer {
        padding: 20px 0 12px 25px;
        width: 100%;

    }

    .flex-3-colonnes {
        max-width: 100%;
        margin: auto;
        padding-left: 0;

    }
}